{% for value in cats %}
    <ul>
        <li><h3>{{value.name}}</h3><li>
        <li>{{value.id}}<li>
        <li>{{value.color}}<li>
        <li>{{value.age}}<li>
        <li>{{value.master}}<li>
        <li>{{value.mouseKilled}}<li>
    </ul>
{% endfor %}